.contents
  .todo--header
    .todo--header__title
      ToDo > 
      = current_user.name
      タスク一覧
    .todo--header__task--icon
      = link_to new_task_path do
        = icon('fas', 'plus-circle', class: 'plus')  
  .todo--lists
    - @tasks.each do |task|
      .todo--task
        .todo--task__limit
          期限：
          = task.end_time
        .todo--task__content
          = link_to task.name, task_path(task)
          = link_to '編集', edit_task_path(task), class: 'task__content--btn'
          = link_to '削除', task_path(task), method: :delete, class: 'task__content--btn'