.contents
  .todo--header
    .todo--header__title
      ToDo > current user tasks
    .todo--header__task--icon
      = link_to new_task_path do
        = icon('fas', 'plus-circle', class: 'plus')  
  .todo--lists
    - @tasks.each do |task|
      .todo--task
        .todo--task__limit
          期限：
          = task.end
        .todo--task__content
          = link_to task.name, task_path(task)
          = link_to '編集', edit_task_path(task)
          = link_to '削除', task_path(task), method: :delete