.contents
  .todo--header
    .todo--header__title
      ToDo > 
      = current_user.name
      タスク一覧
    .todo--header__task--icon
      = link_to new_task_path do
        = icon('fas', 'plus-circle', class: 'plus')  
  .todo--lists
    -# = form_tag({ controller: :tasks, action: :destroy_all },method: 'delete') do
    = form_tag({ controller: :tasks, action: :completed_all }, method: 'patch') do
      .todo--task
        .todo--lists__limit--over
          .todo--lists__limit--over__title
            期限切れ
          - if @tasks_expired.present?
            - @tasks_expired.each do |task|
              = render partial: "task_operation", locals: { task: task }
          - else
            .todo--task__nil
              該当するタスクはありません。
      .todo--task
        .todo--lists__limit--within
          .todo--lists__limit--within__title
            期限：今日 
            = @today.strftime("%Y年%m月%d日")
          - if @tasks_today.present?
            - @tasks_today.each do |task|
              = render partial: "task_operation", locals: { task: task }
          - else
            .todo--task__nil
              該当するタスクはありません。
      .todo--task
        .todo--lists__limit--within
          .todo--lists__limit--within__title
            期限：明日以降
          - if @tasks_within.present?
            - @tasks_within.each do |task|
              = render partial: "task_operation", locals: { task: task }
          - else
            .todo--task__nil
              該当するタスクはありません。
      .todo--task
        .todo--lists__limit--completed
          .todo--lists__limit--completed__title
            完了タスク
          - if @tasks_completed.present?
            - @tasks_completed.each do |task|
              .todo--task__completed
                = link_to task.name, task_path(task)
                = link_to '編集', edit_task_path(task), class: 'task__content--btn'
                = link_to '削除', task_path(task), method: :delete, class: 'task__content--btn'
          - else
            .todo--task__nil
              該当するタスクはありません。
      = submit_tag '完了した', id: 'submit_btn'
  = link_to 'エクスポート', tasks_path(format: :csv), class: 'export_btn'