.contents
  .todo--header
    .todo--header__title
      ToDo > タスクの詳細
    .todo--header__task--icon
      = link_to tasks_path do
        = icon('fas', 'undo', class: 'undo') 
  .todo--lists
    .todo--form
      .todo--form__name
        %label{ for: 'name' } 名前：
        = @task.name
      .todo--form__description
        %label{ for: 'description' } 内容：
        = @task.description
      .todo--form__term
        %label{ for: 'end_time' } 期限：
        = @task.end_time.strftime("%Y年%m月%d日 %H:%M:%S")
      .todo--form__user
        %label{ for: 'user_name' } 登録者：
        = @task.user.name
      .todo--form__created
        %label{ for: 'created_at' } 登録日時：
        = @task.created_at.strftime("%Y年%m月%d日 %H:%M:%S")
      .todo--form__completed
        %label{ for: 'created_at' } 完了状況：
        - if @task.complete == true
          完了
        - else
          未完了
  .todo__change--btn
    = link_to '編集', edit_task_path(@task)
    = link_to '削除', task_path(@task), method: :delete