.contents
  .todo--header
    .todo--header__title
      Report > 
      = current_user.name
      今月日報一覧
    .todo--header__search--form
      = form_tag({ controller: :reports, action: :search }, method: 'get') do
        = text_field_tag :keyword, '', placeholder: "2019年1月なら'201901''", class: 'search--field'
        = submit_tag '検索', class: 'search--btn'
    .todo--header__task--icon
      = link_to new_report_path do
        = icon('fas', 'plus-circle', class: 'plus') 
  .report--lists
    - @reports.each do |report| 
      = render partial: 'report', locals: { report: report }
  .operation--form
    = form_tag import_reports_path, multipart: true do
      %label.label 
        = icon("far", "file")
        = file_field_tag :file, class: 'input__form--file'
      = submit_tag "インポート", id: 'submit--import'
    = link_to 'エクスポート', reports_path(format: :csv), id: 'submit--export'
