.side--bar
  .side--bar__icon
    .side--bar__icon__home
      = link_to root_path do
        = icon('fas', 'home', class: 'home')     
    .side--bar__icon__todo
      = link_to tasks_path do
        = icon('fas', 'clipboard-list', class: 'todo')
    .side--bar__icon__report
      %a{:href => "#"}
        = icon('fas', 'pen-square', class: 'report')
    .side--bar__icon__calender
      %a{:href => "#"}
        = icon('fas', 'calendar-alt', class: 'calender')
    .side--bar__icon__mailer
      %a{:href => "#"}
        = icon('fas', 'envelope-open-text', class: 'mailer')